/*HORIZONTALLY SPACED*/
/*                   */ 
.t_align_parent {
	text-align: center;
}

.h_spaced_child {
	display: inline-block;
	margin: 0px 20px;
	text-align: initial;
	vertical-align: top;
}

/*VERTICALLY SPACED*/
/*                 */
.v_align_parent {
	height: 300px;
	line-height: 300px;
}

.v_align_child {
	vertical-align: middle;
}

.v_align_child p, .v_align_child li {
	line-height: initial;
}