/*HORIZONTALLY SPACED*/
/*                   */ 
.t_align_parent {
	text-align: center;
}

.h_spaced_child {
	display: inline-block;
	margin: 0px 20px;
	text-align: initial;
	vertical-align: top;
}

/*VERTICALLY SPACED*/
/*                 */
.v_align_parent {
	height: 300px;
	line-height: 300px;
}

.v_align_child {
	vertical-align: middle;
}

.v_align_child p, .v_align_child li {
	line-height: initial;
}

/*HORIZONTAL LIST*/
/*               */
.h_list {
	-webkit-padding-start: 0px;
}

.h_list li {
	display: inline;
	float: left;
}

/*BUTTONS*/
/*		 */
a, button, input {
	text-decoration: none;
	color: white;
	background-color: #ff8080;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	padding: 10px 40px;
	border: none;
}

#buy_now {
	vertical-align: middle;
	font-size: 24px;
	padding: 15px 50px;
}

#learn_more {
	font-size: 16px;
	padding: 10px 40px;
}

#OK {
	font-size: 12px;
	padding: 5px;
}

